<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Fictioning Synthetic Reality</title>
    {% if refresh %}
    <meta http-equiv="refresh" content="10">
    {% endif %}
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <h1>Fictioning Synthetic Reality</h1>
      </div>

      {% block content %}{% endblock %}

      <div class="row justify-content-center">
        <div id="footer">
        <p>Workshop by <a href="https://hamosova.com" target="_blank">Lenka Hamosova</a> and Pavol Rusnak.</p>
        <p>Imagination tool based on <a href="https://github.com/nerdyrodent/VQGAN-CLIP" target="_blank">VQGAN-CLIP</a> by Nerdy Rodent,<br>which was based on a <a href="https://colab.research.google.com/drive/1ZAus_gn2RhTZWzOWUpPERNC0Q8OhZRTZ" target="_blank">Colab Notebook</a> by <a href="https://github.com/crowsonkb">Katherine Crowson</a>.
        </div>
      </div>
    </div>
  </body>
</html>
