<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Fictioning Synthetic Reality</title>
    {% if refresh %}
    <meta http-equiv="refresh" content="10">
    {% endif %}
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <a id="title" href="/"><h1>Fictioning Synthetic Reality</h1></a>
      </div>

      {% block content %}{% endblock %}

      <div class="row justify-content-center">
        <div id="footer">
          <p>Workshop by <a href="https://hamosova.com" target="_blank">Lenka Hamosova</a>.</p>
          <p>Technical guidance by Pavol Rusnak.</p>
          <p>Verbal collaging tool based on <a href="https://github.com/nerdyrodent/VQGAN-CLIP" target="_blank">VQGAN-CLIP</a> by Nerdy Rodent,<br>which was based on a <a href="https://colab.research.google.com/drive/1ZAus_gn2RhTZWzOWUpPERNC0Q8OhZRTZ" target="_blank">Colab Notebook</a> by Katherine Crowson.</p>
	  <p>Visit this <a href="https://miro.com/app/board/o9J_lvdQNzc=/">Miro board</a> for workshop feedback and additional resources.</p>
          <p class="small">This workshop was created at the Academy of Performing Arts in Prague as part of the project "Extension of the ML/AI Creative Toolkit - Experimental Workflows in Artistic Practice" supported by the Ministry of Education and Science for specific university research at the Academy of Performing Arts in Prague in 2021.</p>
        </div>
      </div>
    </div>
  </body>
</html>
