{% extends 'base.html' %}

{% block content %}

      <div class="row justify-content-center">
        <h1 id="title">Scrying through AI</h1>
      </div>

      <form action="submit" method="post" enctype="multipart/form-data">

        <div class="row">

          <div class="mb-3">
            <label for="team" class="form-label">Team: (required)</label>
            <input class="form-control" id="team" name="team" required value="{{ team }}">
          </div>

          <div class="mb-3">
            <label for="textprompt" class="form-label">Text Prompt: (required)</label>
            <input class="form-control" id="textprompt" name="textprompt" required>
          </div>

          <!--
          <div class="mb-3">
            <label for="imageprompt" class="form-label">Image Prompt (optional)</label>
            <input type="file" class="form-control" id="imageprompt" name="imageprompt">
          </div>
          -->

          {% if custom_init_image %}

          <div class="mb-3">
            <label for="initimage" class="form-label">Initial Image: (optional)</label>
            <input type="file" class="form-control" id="initimage" name="initimage">
          </div>

          {% endif %}

          {% if last_jobid and iterations %}

          <div class="mb-3">
            <label for="initimage" class="form-label">Initial Image:</label>
          </div>

          <div class="mb-3">
            {% for i in range(50, iterations + 50, 50) %}
              <img src="{{ 'job/%s/%03d.png' % (last_jobid, i) }}" width="192" height="192">
            {% endfor %}
          </div>

          <div class="mb-3">
            <select class="form-select" id="initimage_ref" name="initimage_ref" style="width: 15em;">
            {% for i in range(50, iterations + 50, 50) %}
              <option value="{{ '%s/%03d.png' % (last_jobid, i) }}"{{ ' selected' if i == iterations else '' }}>iteration {{ i }}</option>
            {% endfor %}
            </select>
          </div>

          {% endif %}

          <div class="mb-3">
            <label for="iterations" class="form-label">Iterations:</label>
            <select class="form-select" id="iterations" name="iterations">
              <option value="100">100</option>
              <option value="200" selected>200</option>
              <option value="300">300</option>
              <option value="400">400</option>
              <option value="500">500</option>
            </select>
          </div>

          <!--
          <div class="mb-3">
            <label for="model" class="form-label">Model:</label>
            <select class="form-select" id="model" name="model">
              <option value="ViT-B/16">ViT-B/16</option>
              <option value="ViT-B/32" selected>ViT-B/32</option>
            </select>
          </div>
          -->

        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    <div class="row justify-content-center">
      <div id="footer">
        <p>Workshop by <a href="https://hamosova.com" target="_blank">Lenka Hamosova</a>.</p>
        <p>Technical guidance by Pavol Rusnak.</p>
        <p>Verbal collaging tool based on <a href="https://github.com/nerdyrodent/VQGAN-CLIP" target="_blank">VQGAN-CLIP</a> by Nerdy Rodent,<br>which was based on a <a href="https://colab.research.google.com/drive/1ZAus_gn2RhTZWzOWUpPERNC0Q8OhZRTZ" target="_blank">Colab Notebook</a> by Katherine Crowson.</p>
        <p class="small">This workshop was created at the Academy of Performing Arts in Prague as part of the project "Extending the creative tools of Machine Learning and Artificial Intelligence - Experimental Tools in Artistic Practice" supported by the Ministry of Education and Science for specific university research at the Academy of Performing Arts in Prague in 2021.</p>
      </div>
    </div>

{% endblock %}
