{% extends 'base.html' %}

{% block content %}

      <div class="row justify-content-center">
        <h1 id="title_reflect">A moment of reflection</h1>
      </div>

    <div class="row justify-content-center">
      <p style="text-align: center;">Please, switch to the <a href="https://miro.com/app/board/uXjVOcFhOCw=/" target="_blank">workshop Miro board</a> before proceeding to the next iteration.</p>
    </div>

    <div class="row justify-content-center">
      <div id="footer">

      <a href="/"><button type="submit" class="btn btn-primary">Proceed</button></a>

      </div>
    </div>

{% endblock %}
